:root { 
--black_900_7f:#0000007f; 
--red_400:#db4655; 
--amber_A100:#ffe17d; 
--yellow_800:#fba615; 
--blue_gray_900_02:#2e3c43; 
--blue_gray_900_01:#333333; 
--pink_500:#ed2061; 
--yellow_800_02:#f29c1f; 
--blue_gray_900:#363636; 
--yellow_800_01:#e09b2d; 
--purple_300:#ca59a6; 
--orange_200_02:#fcc772; 
--orange_200_01:#ffc269; 
--blue_900:#0052b4; 
--blue_gray_100:#d9d9d9; 
--gray_800:#3b3b44; 
--orange_600:#ee940d; 
--white_A700_66:#ffffff66; 
--amber_400_01:#ffc72e; 
--blue_100:#d4d4ff; 
--red_200_02:#eda1ab; 
--red_200_01:#ff9a9f; 
--gray_700_02:#5d5360; 
--gray_700_03:#666666; 
--gray_700_01:#655e67; 
--deep_orange_400_01:#f96e53; 
--red_300:#cb8252; 
--amber_A200:#ffda44; 
--green_600:#3caa38; 
--deep_purple_400_01:#745b9c; 
--cyan_500_01:#00d2d7; 
--blue_A200_01:#488bff; 
--gray_500_01:#a8a8a8; 
--yellow_900:#ff8229; 
--deep_orange_800:#d25627; 
--red_600_02:#d5364c; 
--red_600_01:#e63950; 
--amber_400:#f0c419; 
--gray_900:#111111; 
--orange_500:#fa9801; 
--gray_100:#f2f0f3; 
--yellow_600_01:#ffd92d; 
--cyan_900:#124a6a; 
--deep_orange_A100:#f3a977; 
--red_600:#e94141; 
--blue_A200:#338af3; 
--blue_gray_500_01:#6171a3; 
--teal_700:#0b687f; 
--gray_200_01:#f0f0f0; 
--deep_orange_300:#f79e60; 
--blue_gray_700:#435159; 
--gray_200_02:#e6e7e8; 
--gray_200_03:#efefef; 
--gray_600:#737373; 
--lime_500:#d3ef30; 
--amber_700:#ff9c00; 
--yellow_A700:#ffde00; 
--amber_700_01:#ffa511; 
--blue_gray_700_01:#544f56; 
--indigo_800:#26457d; 
--indigo_300_02:#717ed4; 
--cyan_400:#31cdc7; 
--indigo_300_01:#629acc; 
--red_500_01:#f05434; 
--cyan_A400:#00f0f5; 
--red_500:#e64c3c; 
--red_400_02:#ec5569; 
--red_400_01:#dc4655; 
--light_blue_400:#2ba5f7; 
--deep_purple_100:#c3aff0; 
--red_400_03:#ec4b62; 
--yellow_300:#ffed75; 
--teal_600:#168c80; 
--pink_300_02:#dd4fb1; 
--pink_300_01:#f26d9f; 
--black_900:#0f0f0f; 
--blue_gray_800:#38454f; 
--gray_900_02:#1f1f1f; 
--gray_700:#7f5b53; 
--gray_900_03:#262626; 
--gray_900_04:#171717; 
--orange_A700:#ff6000; 
--indigo_50:#e4eaf6; 
--gray_900_01:#1a1a1a; 
--blue_gray_600_01:#565e75; 
--gray_300_05:#e1e1e4; 
--gray_300_04:#d5d9f2; 
--gray_300_03:#dcd9dc; 
--gray_300_02:#e0dee2; 
--orange_300:#e9a761; 
--gray_300_01:#e0dde1; 
--indigo_100:#c7cfe2; 
--white_A700_01:#fefefe; 
--gray_600_90:#73737390; 
--indigo_900:#192f5d; 
--blue_200:#94cfff; 
--gray_50_01:#fff5f5; 
--gray_50_02:#f8f8f8; 
--light_blue_300:#55bef9; 
--pink_900:#962a3a; 
--red_800:#c03a2b; 
--orange_A700_01:#fd5900; 
--gray_800_03:#403f3f; 
--gray_800_02:#4d4d4d; 
--gray_800_01:#404040; 
--teal_100:#b5d3e3; 
--deep_purple_200:#a78cd6; 
--yellow_400:#ffe164; 
--pink_A100:#f683ae; 
--black_900_01:#000000; 
--deep_orange_500:#f95428; 
--red_300_06:#de5c6e; 
--red_A200_01:#ff4d4f; 
--gray_400:#c9c3ca; 
--blue_gray_500:#48709b; 
--amber_100:#f9eab0; 
--orange_200:#fac176; 
--amber_100_01:#ffedb1; 
--orange_300_04:#ffb64c; 
--orange_300_03:#ffa95f; 
--indigo_200:#a4ace3; 
--indigo_900_01:#090898; 
--indigo_900_02:#21386b; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--cyan_600:#00b2bf; 
--red_700:#bd3d44; 
--blue_gray_50:#ecf0f1; 
--blue_gray_100_01:#c7d0d8; 
--blue_gray_100_02:#ccd6db; 
--blue_gray_100_03:#cdcecf; 
--yellow_A700_01:#ffdc13; 
--gray_50:#fafafa; 
--deep_purple_300:#956ec4; 
--yellow_500:#fce547; 
--red_A400:#f5222d; 
--deep_purple_A100:#b09df4; 
--deep_orange_400:#d77d41; 
--purple_800:#6d2c92; 
--red_300_02:#c2615f; 
--orange_A100:#ffd580; 
--red_300_03:#df646e; 
--red_300_04:#e5646e; 
--gray_500:#919191; 
--red_300_05:#e6646e; 
--blue_gray_600:#546a79; 
--red_300_01:#e96d72; 
--amber_300_01:#f3d55b; 
--indigo_300:#8697cb; 
--yellow_900_02:#e38523; 
--yellow_900_01:#e57e25; 
--orange_A100_01:#f7cf69; 
--yellow_300_01:#f5ea72; 
--cyan_500:#13c2c2; 
--white_A700_7f:#ffffff7f; 
--teal_700_01:#13776b; 
--black_900_3d:#0000003d; 
--red_200:#cbb292; 
--deep_purple_400:#836da6; 
--light_green_400:#b8a75d; 
--yellow_A200:#f8ff13; 
--teal_300:#67b59f; 
--yellow_600:#fcdd2e; 
--amber_A100_01:#fbe77b; 
--deep_orange_700:#e54728; 
--red_700_01:#d82f3c; 
--pink_300:#ff6b81; 
--purple_500:#aa3584; 
--orange_A200:#ff983b; 
--red_A200:#ff6262; 
--lime_900:#b27214; 
--orange_800:#ed6d11; 
--orange_A200_01:#f7b239; 
--amber_300:#ffcf5d; 
--gray_200:#eeeeee; 
--blue_50:#e9efff; 
--gray_100_03:#f3f1f4; 
--gray_100_02:#f1f0f7; 
--red_800_01:#c62525; 
--gray_100_04:#f0f2ff; 
--gray_100_01:#f4f4f4; 
--white_A700:#ffffff; 
--indigo_A200:#577bfb; 
--green_800:#078830; 
--orange_300_02:#ffb366; 
--orange_300_01:#f3bf49; 
--teal_200:#77d1b3; 
--pink_200:#df73c1; 
--gray_600_02:#6f6571; 
--gray_600_01:#6e6e6e; 
--blue_gray_400:#82828e; 
--red_A100:#f28383; 
--blue_600:#2197d8; 
--amber_200:#ffe07d; 
--gray_300:#e6e6e6; 
--teal_200_01:#8abbd5; 
--blue_100_01:#d3dcfb; 
--indigo_500:#3350b9; 
}