.animated-526 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-526 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-526 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-526 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-526 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-526 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-526 .effect-block.effect-steve .title,
.animated-526 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-526 .effect-block.effect-goliath {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-527 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-527 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-steve .title,
.animated-527 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-527 .effect-block.effect-goliath {
  background: #343434 !important;
}
animated-528 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.animated-528 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-528 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-528 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-528 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-528 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-528 .effect-block.effect-steve .title,
.animated-528 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-528 .effect-block.effect-goliath {
  background: #343434 !important;
}
.ModuleSpace[datamodule-id="542"] .space-container {
  border-radius: 0 0 0 0;
}
.ModuleSpace[datamodule-id="542"]:hover .space-container {
  border-radius: 0 0 0 0;
}
.ModuleSpace[datamodule-id="542"] .uc-row .column:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ModuleSpace[datamodule-id="542"] .uc-row .column:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
animated-537 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-537 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-537 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-537 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-537 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-537 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-537 .effect-block.effect-steve .title,
.animated-537 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-537 .effect-block.effect-goliath {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-531 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-531 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-steve .title,
.animated-531 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-531 .effect-block.effect-goliath {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.52) !important;
}
.animated-535 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-535 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-steve .title,
.animated-535 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-535 .effect-block.effect-goliath {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-lilly .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-default .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-sadie .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-honey .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-roxy .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-sarah .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-Soft-Fade .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-apollo .layer {
  background: rgba(0, 0, 0, 0.6) !important;
}
.animated-536 .effect-block.effect-honey .figcaption:before {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-roxy .figcaption:before {
  border-image: #343434 3 stretch;
  -moz-border-image: -moz-rgb(52, 52, 52) 3 stretch;
  border-width: 3px;
  border: 3px solid #343434;
}
.animated-536 .effect-block.effect-apollo .figcaption:before {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-apollo .description:before {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-sarah .title:after {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-steve .title,
.animated-536 .effect-block.effect-steve .description {
  background: #343434 !important;
}
.animated-536 .effect-block.effect-goliath {
  background: #343434 !important;
}
.ModuleSpace[datamodule-id="556"] .space-container {
  border-radius: 0 0 0 0;
}
.ModuleSpace[datamodule-id="556"]:hover .space-container {
  border-radius: 0 0 0 0;
}
.ModuleSpace[datamodule-id="556"] .uc-row .column:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ModuleSpace[datamodule-id="556"] .uc-row .column:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
